
/* Style reset */
*{
    box-sizing: border-box
}

* ul, ol {
    list-style: none;
    padding-left: 0;
}

/* Style the pages */

body{
    background-color: #eeee
}

h1 {
    text-align: center;
}

main{
    /* display: flex;
    align-items: center; */
    margin: 0 auto;
    /* text-align: center;  */
    padding: 0.5rem;
}

/* Section */

section{
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    /* width: 100%; */
    /* gap: 1rem; */
}

img{
    width: 100%;
}

/* Artile */

section article {
    width: 100%;
    
}

article ul, ol {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

article ul, ol li{
    
}


